/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4.5rem;

  /*========== Colors ==========*/
  --hue: 250;
  --first-color: hsl(var(--hue), 100%, 58%);
  --title-color: hsl(var(--hue), 8%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: #fff;
  --border-color: hsl(var(--hue), 8%, 80%);
  --container-color: hsl(var(--hue), 60%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Hind", sans-serif;
  --biggest-font-size: 4rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (max-width: 1024px) {
  :root {
    --biggest-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/*=============== BASE ===============*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== LAYOUT ===============*/

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/

/*=============== HEADER & NAV ===============*/

.header
{
    width: 100%;
    background-color: var(--first-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav
{
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_dark
{
    display: none;
}

.nav_link,
.nav_toggle {
    color: #fff;
    font-weight: var(--font-semibold);
}

.nav_list
{
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
}

.nav_toggle {
    font-size: 1.5rem;
    margin-top: .75rem;
    cursor: pointer;
    display: none;
}

.nav_close
{
    display: none;
}

/* Active link */

.active-link {
    position: relative;
}

.active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: var(--body-color);
    border-radius: 50%;
}

/* Change background header */

/*=============== HOME ===============*/

/*=============== BUTTONS ===============*/

.button {
    display: inline-block;
    color: var(--first-color);
    padding: .8rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    background-color: var(--body-color);
}

/*=============== ABOUT ===============*/

/*=============== TEACHERS ===============*/

/*=============== BRANDS ===============*/

/*=============== COURSES ===============*/

/*=============== COURSES PAGE ===============*/

/*=============== COURSE DETAILS PAGE ===============*/

/*=============== CONTACT PAGE ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1206px) {
}

@media screen and (max-width: 1024px) {
}

/* For medium devices */
@media screen and (max-width: 767px) {
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
}
