/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4.5rem;

  /*========== Colors ==========*/
  --hue: 250;
  --first-color: hsl(var(--hue), 100%, 58%);
  --title-color: hsl(var(--hue), 8%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: #fff;
  --border-color: hsl(var(--hue), 8%, 80%);
  --container-color: hsl(var(--hue), 60%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Hind", sans-serif;
  --biggest-font-size: 4rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (max-width: 1024px) {
  :root {
    --biggest-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/*=============== BASE ===============*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== LAYOUT ===============*/

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.section {
  padding: 7rem 0 1rem;
}

.section_title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  text-align: center;
  margin-bottom: .25rem;
  line-height: 140%;
}

.section_subtitle {
  text-align: center;
  margin-bottom: 4rem;
}

.page_title-area {
  min-height: 450px;
  background-image: url(../Img/page-title.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -2;
}

.page_title-area::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 3, 32, 0.66);
  z-index: -1;
}

.page_title-wrapper {
  padding-top: 12.5rem;
}

.page_title {
  font-size: var(--biggest-font-size);
  color: #fff;
  margin-bottom: .25rem;
}

.breadcrumb_list {
  display: flex;
  column-gap: 1rem;
  margin-left: .4rem;
}

.breadcrumb_link {
  color: #fff;
  font-size: var(--h3-font-size);
}

/*=============== HEADER & NAV ===============*/

.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .4s;
}

.nav {
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_dark {
  display: none;
}

.nav_link,
.nav_toggle {
  color: #fff;
  font-weight: var(--font-semibold);
}

.nav_list {
  display: flex;
  flex-direction: row;
  column-gap: 2.5rem;
}

.nav_toggle {
  font-size: 1.5rem;
  margin-top: .25rem;
  cursor: pointer;
  display: none;
}

.nav_close {
  display: none;
}

/* Active link */

.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--body-color);
  border-radius: 50%;
}

/* Change background header */

.scroll-header {
  background-color: var(--container-color);
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
}

.scroll-header .logo_light {
  display: none;
}

.scroll-header .logo_dark {
  display: block;
}

.scroll-header .nav_link {
  color: var(--title-color);
}

.scroll-header .active-link::before {
  background-color: var(--title-color);
}

.scroll-header .nav_toggle {
  color: var(--title-color);
}

/*=============== HOME ===============*/

.home {
  position: relative;
  min-height: 968px;
  background: url(../Img/home.jpg);
  background-repeat: no-repeat;
  padding: 18rem 0 2rem;
  z-index: -2;
}

.home::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 3, 32, 0.66);
  z-index: -1;
}

.home_data {
  max-width: 650px;
}

.home_subtitle {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: #ffb352;
  margin-bottom: 1rem;
}

.home_title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  color: #fff;
  line-height: 109%;
  margin-bottom: 1.5rem;
}

.home_description {
  font-size: var(--h3-font-size);
  color: hsl(var(--hue), 8%, 75%);
  padding-right: 2.8rem;
  margin-bottom: 2.5rem;
}

.about_courses {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--z-tooltip);
  grid-template-columns: repeat(4, 1fr);
}

.about_course-item {
  position: relative;
  height: 100px;
  padding: 23px 50px;
  padding-right: 1.8rem;
  z-index: -1;
}

.about_course-item::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.about_course-item:nth-child(1) {
  background: url(../Img/slider-nav-4.jpg);
  background-position: center;
}

.about_course-item:nth-child(1)::after {
  background: rgba(247, 100, 30, .8);
}

.about_course-item:nth-child(2) {
  background: url(../Img/slider-nav-1.jpg);
  background-position: center;
}

.about_course-item:nth-child(2)::after {
  background: rgba(45, 105, 240, .8);
}

.about_course-item:nth-child(3) {
  background: url(../Img/slider-nav-2.jpg);
  background-position: center;
}

.about_course-item:nth-child(3)::after {
  background: rgba(231, 36, 110, .8);
}

.about_course-item:nth-child(4) {
  background: url(../Img/slider-nav-3.jpg);
  background-position: center;
}

.about_course-item:nth-child(4)::after {
  background: rgba(12, 174, 116, .8);
}

.about_course-total {
  display: inline-block;
  color: #fff;
  opacity: .8;
}

.about_course-title {
  color: #fff;
  font-size: var(--h3-font-size);
}

/*=============== BUTTONS ===============*/

.button {
  display: inline-block;
  color: #fff;
  padding: 0.8rem 1.75rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  background-color: var(--first-color);
}

.button--link {
  color: var(--first-color);
  border: 2px solid var(--first-color);
  background-color: transparent;
  transition: .4s;
}

.button--link:hover {
  background-color: var(--first-color);
  color: #fff;
}

/*=============== ABOUT ===============*/

.about_container {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6rem;
}

.about_group
{
  justify-self: flex-end;
  position: relative;
}

.about_thumb {
  margin-left: 6.25rem;
}

.about_thumb-img {
  width: 370px;
}

.about_review {
  position: absolute;
  left: -1.5rem;
  top: 6.25rem;
  transform: rotate(90deg);
}

.about_review p span {
  font-weight: var(--font-semibold);
  color: var(--title-color);
}

.about_banner {
  margin-top: -13rem;
}

.about_banner-img {
  width: 240px;
  border-radius: .4rem;
}

.about_students {
  margin-top: -5rem;
  margin-left: 16.8rem;
}

.about_student-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid var(--container-color);
}

.about_student-img + .about_student-img {
  margin-left: -.75rem;
}

.about_student-details {
  margin-top: .25rem;
  font-size: var(--small-font-size);
}

.about_student-details span {
  font-weight: var(--font-semibold);
  color: var(--title-color);
}

.about_title {
  margin-bottom: 1rem;
  text-align: left;
}

.about_description {
  margin-bottom: 2rem;
  padding-right: 2rem;
}

.about_details {
  display: grid;
  row-gap: .5rem;
  margin-bottom: 2.5rem;
}

.about_details-description {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.about_details-icon {
  font-size: 1.25rem;
  color: var(--first-color);
}

/*=============== TEACHERS ===============*/

.teachers_container {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
}

.teacher_item {
  background-color: var(--container-color);
  padding: 1.875rem;
  text-align: center;
  border-radius: .4rem;
}

.teacher_img-box {
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.teacher_img-box img {
  transform: scale(1);
  vertical-align: middle;
  transition: .4s;
}

.teacher_img-box:hover img {
  transform: scale(1.1);
}

.teacher_title {
  display: inline-block;
  font-size: var(--h3-font-size);
  margin-bottom: .75rem;
}

.teacher_social {
  display: flex;
  justify-content: center;
  column-gap: .6rem;
}

.teacher_social-link {
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  border: 2px solid var(--border-color);
  color: var(--title-color);
  border-radius: .25rem;
  transition: .4s;
}

.teacher_social-link:hover {
  background-color: var(--first-color);
  color: #fff;
  border: none;
}

.teacher_social-link i {
  font-weight: var(--font-semibold);
}

/*=============== BRANDS ===============*/

.brand_title {
  text-align: center;
  font-size: var(--h2-font-size);
  margin-bottom: 3rem;
}

.brand_container {
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  margin-bottom: 3rem;
}

.brand_button {
  color: var(--title-color);
  font-size: var(--normal-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .25rem;
  cursor: pointer;
}

.brand_button-icon {
  font-size: 1.25rem;
  transition: .4s;
}

.brand_button:hover .brand_button-icon {
  transform: translateX(.25rem);
}

/*=============== COURSES ===============*/

.courses_container {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
}

.course_item {
  background-color: var(--container-color);
  position: relative;
  border-radius: 0 0 .4rem .4rem;
}

.course_box {
  border-radius: .4rem .4rem 0 0;
  overflow: hidden;
}

.course_img {
  transform: scale(1);
  vertical-align: middle;
  transition: .4s;
}

.course_box:hover .course_img {
  transform: scale(1.1);
}

.course_tag {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  background-color: var(--first-color);
  color: #fff;
  font-size: var(--small-font-size);
  padding: .25rem .5rem;
  border-radius: .25rem;
}

.course_content {
  padding: 1.5rem 1.875rem;
}

.course_meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
}

.course_lesson {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-size: var(--small-font-size);
}

.course_rating {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-size: var(--small-font-size);
}

.course_rating .uis {
  color: #ff9415;
}

.course_title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
  line-height: 1.2;
  cursor: pointer;
  transition: .4s;
}

.course_title:hover {
  color: var(--first-color);
}

.course_teacher {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.course_teacher-img {
  width: 35px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.course_teacher-title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  padding-top: .125rem;
  cursor: pointer;
  transition: .4s;
}

.course_teacher-title:hover {
  color: var(--first-color);
}

.course_more {
  display: flex;
  justify-content: space-between;
  padding: .6rem 1.875rem .75rem;
  padding-top: 1rem;
  border-top: 1px solid #f0f0f5;
}

.course_prices {
  display: flex;
  align-items: center;
}

.course_discount {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semibold);
  padding-right: .25rem;
}

.course_price {
  font-size: var(--small-font-size);
  text-decoration: line-through;
}

.course_button {
  color: var(--title-color);
  font-size: var(--normal-font-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: .25rem;
  cursor: pointer;
}

.course_button-icon {
  font-size: 1.25rem;
  transition: .4s;
}

.course_button:hover .course_button-icon {
  transform: translateX(.25rem);
}

.course_item:nth-child(1) .course_tag {
  background-color: #b128ff;
}

.course_item:nth-child(1) .course_discount {
  color: #b128ff;
}

.course_item:nth-child(9) .course_tag,
.course_item:nth-child(2) .course_tag {
  background-color: #fa7919;
}

.course_item:nth-child(9) .course_discount,
.course_item:nth-child(2) .course_discount {
  color: #fa7919;
}

.course_item:nth-child(8) .course_tag,
.course_item:nth-child(3) .course_tag {
  background-color: #30a820;
}

.course_item:nth-child(8) .course_discount,
.course_item:nth-child(3) .course_discount {
  color: #30a820;
}

.course_item:nth-child(7) .course_tag,
.course_item:nth-child(4) .course_tag {
  background-color: #5744cb;
}

.course_item:nth-child(7) .course_discount,
.course_item:nth-child(4) .course_discount {
  color: #5744cb;
}

.course_item:nth-child(5) .course_tag {
  background-color: #f2277e;
}

.course_item:nth-child(5) .course_discount {
  color: #f2277e;
}

.course_item:nth-child(6) .course_tag {
  background-color: #b128ff;
}

.course_item:nth-child(6) .course_discount {
  color: #b128ff;
}

/*=============== COURSES PAGE ===============*/

.pagination {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
  margin-top: 2.75rem;
}

.pagination_button {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border-radius: .25rem;
  font-weight: var(--font-medium);
  border: 2px solid #eef0f6;
  cursor: pointer;
  color: var(--first-color);
  transition: .4s;
}

.pagination_button:hover {
  background-color: var(--first-color);
  border-color: var(--first-color);
  color: #fff;
}

.pagination_next-button,
.pagination_prev-button {
  color: var(--title-color);
  font-size: var(--normal-font-size);
  display: flex;
  align-items: center;
  column-gap: .25rem;
  cursor: pointer;
}

.pagination_button-icon {
  font-size: 1rem;
}

/*=============== COURSE DETAILS PAGE ===============*/

/*=============== CONTACT PAGE ===============*/

/*=============== FOOTER ===============*/

.footer {
  margin-top: 8rem;
  background-color: #0e1133;
}

.footer_container {
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  column-gap: 1rem;
}

.footer_logo {
  margin-bottom: 1.25rem;
}

.footer_description {
  color: hsl(var(--hue), 8%, 75%);
  margin-bottom: 2.5rem;
}

.footer_social {
  display: flex;
  column-gap: .75rem;
}

.footer_social-link {
  display: inline-block;
  background-color: var(--container-color);
  width: 44px;
  height: 44px;
  line-height: 42px;
  text-align: center;
  border-radius: .25rem;
  font-size: 1rem;
  color: #fff;
  border: 2px solid;
  transition: .4s;
}

.footer_social-link:nth-child(1) {
  background-color: #285da1;
  border-color: #285da1;
}

.footer_social-link:nth-child(2) {
  background-color: #03a9f4;
  border-color: #03a9f4;
}

.footer_social-link:nth-child(3) {
  background-color: #d2173f;
  border-color: #d2173f;
}

.footer_social-link:hover {
  background-color: transparent;
}

.footer_title {
  font-size: var(--h3-font-size);
  color: #fff;
  margin-bottom: 1rem;
}

.footer_links {
  display: grid;
  row-gap: .35rem;
}

.footer_link {
  font-size: var(--normal-font-size);
  color: hsl(var(--hue), 8%, 75%);
  transition: .3s;
}

.footer_link:hover {
  color: #fff;
}

.footer_copy {
  display: block;
  text-align: center;
  font-size: var(--normal-font-size);
  color: hsl(var(--hue), 8%, 75%);
  margin-top: 6rem;
}

/*=============== SCROLL BAR ===============*/

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1206px) {

  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .about_course-item {
    padding: 16px 18px;
    height: 80px;
  }

  .about_container {
    column-gap: 3rem;
  }

  .about_description {
    padding-right: 0;
  }

}

@media screen and (max-width: 1024px) {

  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .home {
    min-height: 868px;
  }

  .home_data {
    max-width: 550px;
  }

  .about_container {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .about_group {
    justify-self: center;
  }

  .about_banner {
    margin-top: -110px;
  }

  .about_thumb-img {
    width: 270px;
  }

  .about_banner-img {
    width: 180px;
  }

  .about_students {
    margin-top: -80px;
    margin-left: 220px;
  }

  .teachers_container,
  .courses_container {
    grid-template-columns: repeat(2, 340px);
    justify-content: center;
  }

  .course_content {
    padding: 1rem 1.25rem;
  }

  .course_more {
    padding: .5rem 1.25rem;
  }

  .pagination {
    justify-content: center;
  }

}

/* For medium devices */
@media screen and (max-width: 767px) {

  .nav {
    height: var(--header-height);
  }

  .button_header {
    display: none;
  }

  .nav_toggle {
    display: block;
  }

  .nav_menu {
    position: fixed;
    width: 100%;
    background-color: var(--container-color);
    top: -150%;
    left: 0;
    padding: 3.5rem 0;
    z-index: var(--z-fixed);
    border-radius: 0 0 .4rem .4rem;
    transition: .4s;
  }

  .nav_list {
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: center;
  }

  .nav_close {
    display: block;
    font-size: 1.8rem;
    position: absolute;
    top: .5rem;
    right: .7rem;
    cursor: pointer;
  }

  .nav_link {
    color: var(--title-color);
  }

  .active-link::before {
    background-color: var(--title-color);
  }

  /* Show menu */
  .show-menu {
    top: 0;
  }

  .home {
    min-height: 700px;
    padding-top: 14rem;
  }

  .about_courses {
    display: none;
  }

  .teachers_container,
  .courses_container {
    grid-template-columns: 320px;
  }

  .teacher_item {
    padding: 1.25rem;
  }

  .brand_container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2.5rem;
  }

  .footer_container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    justify-items: start;
  }

  .footer_copy {
    margin-top: 4.5rem;
  }

  .pagination {
    column-gap: .625rem;
  }

  .pagination_button {
    width: 36px;
    height: 36px;
    line-height: 34px;
  }

}

@media screen and (max-width: 576px) {

  .home_description {
    padding-right: 0;
  }

  .about_thumb-img {
    width: 240px;
  }

  .about_banner-img {
    width: 160px;
  }

  .about_banner {
    margin-top: -25px;
  }

  .about_students {
    margin-top: 20px;
    margin-left: 0;
  }

  .brand_container {
    grid-template-columns: repeat(2, 1fr);
  }

}

/* For small devices */
@media screen and (max-width: 350px) {

  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .home {
    min-height: 668px;
  }

  .home_subtitle {
    font-size: var(--normal-font-size);
  }

  .home_title {
    font-size: var(--h1-font-size);
  }

  .home_description {
    font-size: var(--normal-font-size);
  }

  .about_review {
    top: 4.5rem;
  }

  .about_banner-img {
    width: 140px;
  }

  .courses_container,
  .teachers_container {
    grid-template-columns: 1fr;
  }

}
